.mplp-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 1rem;
}

.mplp-flex-item {
    flex-basis: 20%;
}

.mplp-card {
    margin: 0.5rem;
}

.mplp-subtitle {
    color: #808080
}

.mplp-button-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mplp-image {
    border-style: solid;
    border-width: 1px;
    border-color: #0d6efd;
    border-radius: 10px
}

@media (max-width: 500px) {
    .mplp-flex-item {
        flex-basis: 100%
    }
  }